{% extends "base.html" %}

{% block title %}Behavioral{% endblock %}

{% block content %}
<div class="behavorial">
	<div class="form-container2">
	<div class = "intro-section">
	<div class="the-star-method-container">
		<p class="description">
			<span class="title">The STAR method</span> is a structured approach to answering behavioral interview
			questions. It helps candidates clearly and concisely explain past experiences by breaking down their
			responses into four components:
		</p>
		<ol class="star-steps">
			<li>
				<span class="title">Situation</span>: Describe the context or background of the scenario. Set
				the scene by explaining the challenge or task you faced.
			</li>
			<li>
				<span class="title">Task</span>: Explain your role in the situation and what you needed to
				accomplish. Focus on your specific responsibilities.
			</li>
			<li>
				<span class="title">Action</span>: Detail the steps you took to address the situation.
				Highlight your contributions, decisions, and actions.
			</li>
			<li>
				<span class="title">Result</span>: Share the outcome of your actions. Quantify your success if
				possible and explain how it benefited the team or organization.
			</li>
		</ol>
		<p class="conclusion">
			Using the STAR method helps structure responses, making them more compelling and relevant to
			interviewers.
		</p>
	</div>
</div>
<div class="go-button-container">
	<a href="/feedback" class="go-button">Generate Behavioral Questions!</a>
</div>
</div>
</div>
{% endblock %}