{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
    <div class="practice-improve-succeed">
        <b>Practice, Improve, Succeed</b>
    </div>
    
    <div class="your-personalized-interview-container">
        <p class="your-personalized-interview">Your personalized interview preparation platform, powered by AI.</p>
        <p class="your-personalized-interview">Practice real interview questions, get instant feedback, and sharpen your skills for your dream job. Whether you're prepping for tech, business, or data science roles, we tailor the experience to help you succeed.</p>
    </div>

    <div class="container">
        <div class="floating-box"></div>
        <button class="get-started">Get Started</button>
    </div>
</div>
{% endblock %}
