{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="form-container2">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img id="profile-pic" class="profile-pic" alt="Profile Picture" src="{{ url_for('static', filename='profile.png') }}">
                <div class="profile-label">
				<label for="input-file">Update Image</label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file">
                <script>
                    let profilePic = document.getElementById("profile-pic")
                    let inputFile = document.getElementById("input-file")

                    inputFile.onchange = function () {
                        profilePic.src = URL.createObjectURL(inputFile.files[0]);
                    }
                </script>
			</div>
                <span class="font-weight-bold">First Name Last Name</span>
                <span class="text-black-50">{{ user.email }}</span>
            </div>
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="First name" value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="Last name" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email Address</label><input type="text" class="form-control" placeholder="Enter email address" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="Education" value=""></div>
					<div class="col-md-12"><label class="labels">Major</label><input type="text" class="form-control" placeholder="Major" value=""></div>
                </div>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="mt-5">
                    <b>Interested Roles:</b>
                    <div class="custom-select">
                        <div class="select-box">
                            <input type="text" class="tag_input" name="tags" hidden />
                            <div class="selected-options"></div>
                            <div class="arrow">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="options">
                            <div class="option-search-tags">
                                <input type="text" class="search-tags" placeholder="Search for interests..." />
                                <button type="button" class="clear">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                            <div class="option all-tags" data-value="All">Select All</div>
                            <div class="option" data-value="Data">Data Analyst</div>
                            <div class="option" data-value="Software">Software Developer</div>
                            <div class="option" data-value="UIX">UI/UX Engineer</div>
                            <div class="option" data-value="Cloud">Cloud Architect</div>
                            <div class="option" data-value="Cyber">Cybersecurity</div>
                            <div class="option" data-value="Business">Business Analyst</div>
                            <div class="option" data-value="Solutions">Solutions Architect</div>
                            <div class="option" data-value="IT">IT Specialist</div>
                            <div class="option" data-value="QA">QA Engineer</div>
                            <div class="option" data-value="AI">AI/Machine Learning</div>
                            <div class="option" data-value="Tech">Technical Writer</div>
                            <div class="no-result-message" style="display:none;">No result match</div>
                        </div>
                        <span class="tag_error_msg error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}